@use '../abstracts' as *;

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  @include safe-padding-inline(spacer(3));

  @include min(bp(lg)) {
    @include safe-padding-inline(spacer(5));
  }
}

.container-fluid {
  width: 100%;
  @include safe-padding-inline(spacer(3));

  @include min(bp(lg)) {
    @include safe-padding-inline(spacer(5));
  }
}

.container-sm {
  max-width: 720px;
  margin-inline: auto;
  @include safe-padding-inline(spacer(3));
}

.container-lg {
  max-width: 1400px;
  margin-inline: auto;
  @include safe-padding-inline(spacer(3));

  @include min(bp(lg)) {
    @include safe-padding-inline(spacer(5));
  }
}
